.table-wrapper{
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;

  main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    header {
      background: #AAAAAA;
    }

    header, .table-row {
      display: flex;
    }

    header strong, .table-cell {
      border: 1px solid #000000;
      flex: 0 1 1/7*100%;
      text-align: center;
      line-height: 3rem;
    }

    .table-cell {
      transition: all .2s;

      &.disabled {
        opacity: .5;
      }

      &:hover:not(.disabled) {
        background: #eeeeee;
        cursor: pointer;
      }
    }

    .active {
      color: var(--primary-color);
      font-weight: bold;
    }

    .selected {
      color: #0000ff;
    }
  }
}


