section {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
  padding: 0 32px;

  .timeline-row {
    background: #eeeeee;
    line-height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(200,200,200, .5);
    box-sizing: border-box;
  }

  .timeline-row:nth-child(4n) {
    border-bottom: 1px solid rgba(100,100,100, 1);
  }

  .event {
    position: absolute;
    width: calc(100% - 80px);
    left: 48px;
    top: 0;
    border: 1px solid black;
    border-radius: 8px;
    background: #dc3545;
    z-index: 2;
  }
}
