@import "src/variables";

section.timeline-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 60%;
  max-width: $laptop;

  .timeline-row {
    //min-height: 56px;
  }

  .timeline-row:nth-child(4n) {
    border-bottom: 1px solid rgba(100,100,100, 1);
  }

  .event {
    position: absolute;
    width: calc(100% - 128px);
    left: 96px;
    top: 0;
    border: 1px solid #5c6bc0;
    border-radius: 8px;
    background: #c5cae9;
    z-index: 2;
    opacity: 0.8;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      opacity: 1;
    }
  }
}
