@import "src/variables";

.grow {
  flex-grow: 1;
}

.menu-button {
  margin-right: 1rem;
}

.title {
  display: none;
}

.section-desktop {
  display: block;
}

@media screen and (min-width: $tablet) {
  .title {
    display: block;
  }
}
